/****************************/
/********** Global **********/
/****************************/
*{
  background-color: var(--color-hsl(217, 71%, 53%));
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body hr {
  margin: 1.5rem 0;
  margin-top: 1.5rem;
  margin-right: 0px;
  margin-bottom: 1.5rem;
  margin-left: 0px;
}

label {
  margin: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  padding-left: 3px;
}

h4 {
  letter-spacing: -1px;
  font-weight: 400;
}

/****************************/
/********** NAVIGATION **********/
/****************************/
.navbar {
  height: 100px;
}

.navbar .navbar-brand #TITLE-ONE {
  text-align: center;
}

/****************************/
/********** ABOUT **********/
/****************************/

.about-content .ABOUT1 h1 {
  text-align: center;
}

.ABOUT1 {
  padding-top: 50px;
  width: 100%;
  height: 150px;
  background-color: whitesmoke;
}

.ABOUT-P1 {
  font-size: larger;
  padding-top: 20px;
  text-align: center;
}

.ABOUT-P2 {
  font-size: larger;
}

.ABOUT-P2 p {
  font-weight: 700;
  font-size: x-large;
  color: white;
  padding-top: 80px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.ABOUT3 {
  padding-top: 20px;
  background-color: whitesmoke;
  text-align: center;
}

.ABOUT3 h1 {
  font-size: 30px;
}

.BACK-IMAGE {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/schedule3.jpeg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/****************************/
/********** HOME **********/
/****************************/
.background-image {
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/schedule.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  padding-top: 30px;
  margin: 30px 30px;
  text-align: center;
}

#time {
  animation-iteration-count: infinite;
  animation-duration: 10s;
  text-decoration: underline;
}

.home-content .background-image h1 {
  padding-top: 150px;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.outer figure img {
  width: 100%;
}

.outer h1 {
  padding-top: 100px;
}

.outer p {
  padding-top: 10px;
  font-size: x-large;
}

.outer {
  background-color: whitesmoke;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.content {
  padding-top: 30px;
  margin: 30px 30px;
  text-align: center;
}

/****************************/
/********** FOOTER **********/
/****************************/
.footer {
  height: 10px;
  background-color: lightgray;
}

.footer div {
  margin: auto;
  padding: 0;
}

.footer {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/****************************/
/********** LOGIN **********/
/****************************/
#LOGIN {
  padding-top: 70px;
  width: 70%;
  padding-bottom: 100px;
}
.error{
  color: red;
  
}

/****************************/
/********** SIGN UP **********/
/****************************/
#SIGN-UP {
  width: 60%;
  padding-bottom: 20px;
}

/****************************/
/********** CONTACT **********/
/****************************/
.main-contact {
  padding-bottom: 20px;
}

.main-contact .container-content {
  padding-top: 0px;
}

.main-contact .columns .column .card {
  width: 100%;
}

.main-contact .columns .column .card .card-content .content .field label {
  text-align: left;
}

/****************************/
/********** DASHBOARD NAV**********/
/****************************/
:root {
  --main-color: hsl(217, 71%, 45%);
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.sidebar {
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
  z-index: 100;
  transition: width 300ms;
}

.sidebar .sidebar-brand h1 {
  color: white;
  padding-bottom: 20px;
}

.sidebar .sidebar-brand h1 img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  object-fit: cover;
}

.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-menu li {
  width: 313.5px;
  margin-bottom: 1.3rem;
  padding-left: 1rem;
}

.sidebar-menu a {
  text-decoration: none;
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}

.sidebar-menu a:hover {
  transition: all 0.9s ease-in-out;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: lightsalmon;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a.active {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.main-content {
  transition: margin-left 300ms;
  margin-left: 345px;
}

.head {
  background-color: #fff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
  color: #222;
  transition: left 300ms;
}

#nav-toggle:checked+.sidebar {
  width: 90px;
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
  padding-left: 0.8rem;
}

#nav-toggle:checked+.sidebar li a {
  padding-left: 0.5rem;
}

#nav-toggle:checked+.sidebar li a span {
  padding-right: 1rem;
}

#nav-toggle:checked+.sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked~.main-content {
  margin-left: 90px;
}

#nav-toggle:checked~.main-content .head {
  width: calc(100% - 90px);
  left: 90px;
}

#nav-toggle:checked+.sidebar .sidebar-menu li {
  transition: width 310ms;
  width: 58.5px;
}

#nav-toggle+.sidebar .sidebar-menu li {
  transition: width 300ms;
}

.head label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.sidebar-menu {
  margin-top: 1rem;
}

.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

.user-wrapper small {
  display: inline-block;
  color: lightgray;
  margin-top: -3px !important;
}

.dash-main {
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background-color: #f1f5f9;
  min-height: calc(100vh- 90px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
}

.card-single div:last-child span {
  font-size: 3rem;
  color: var(--main-color);
}

.card-single:last-child div:first-child span {
  color: var(--text-grey);
}

.card-single:last-child {
  background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:last-child span,
.card-single:last-child div:first-child span {
  color: #fff;
}

/* Recent Projects, will use JS*/
.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 70% auto;
}

.card {
  background: #fff;
  border-radius: 5px;
}

.card-header,
.card-body {
  padding: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.card-header button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
}

table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

thead td {
  font-weight: 700;
}

td {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  color: #222;
}

td .status {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 1rem;
}

tr td:last-child {
  display: flex;
  align-items: center;
}

.status.purple {
  background-color: purple;
}

.status.pink {
  background-color: pink;
}

.status.orange {
  background-color: orange;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

/****************************/
/********** Main Projects **********/
/****************************/
.projects-main {
  padding-left: 20px;
  padding-top: 60px;
}
#createGroup{
  margin-top: 3rem;
}
.hide {
  display: none;
}
.show{
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper {
  padding: 30px 50px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 10px auto;
  max-width: 600px;
}

.img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  object-fit: cover;
}

#img-section p,
#deactivate p {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
  text-align: justify;
}

#img-section b,
#img-section button,
#deactivate b {
  font-size: 14px;
}

.form-control {
  border-radius: 10px;
}

input[placeholder] {
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #0779e4;
}

select {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 40px;
  padding: 5px 10px;
}

select:focus {
  outline: none;
}

.button {
  background-color: #fff;
  color: var(--main-color);
}

.button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.btn-primary {
  background-color: var(--main-color);
}

.danger {
  background-color: #fff;
  color: #e20404;
  border: 1px solid #ddd;
}

.danger:hover {
  background-color: #e20404;
  color: #fff;
}

/****************************/
/********** Main Profile **********/
/****************************/
.profile-main {
  padding-left: 20px;
  padding-top: 60px;
}

/****************************/
/********** FAQ **********/
/****************************/
.FAQ {
  padding:60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.FAQ-TOP{
  text-align: center;
}
.FAQ-TOP h1{
  font-size:30px;
  font-weight:bold;
}
.FAQ-TOP p{
  font-size:20px;
}
.FAQ-question {
  margin: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 25%;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgb(54, 54, 54);
}
.FAQ-question:hover{
  box-shadow: 10px 8px 8px 10px rgb(54, 54, 54);
  transition: all 0.9s ease;
}
.FAQ-question-title{
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.FAQ-question-answer{
  color: black;
  font-size: 16px;
  font-weight: 400;
}
/****************************/
/********** MISC **********/
/****************************/

/* MISC: have to figure out where these are located in*/
.card {
  display: inline-block;
  width: 50%;
  padding: 5px;
}

#BUTTON {
  padding-top: 10px;
  position: relative;
}

.container {
  text-align: center;
}

button a {
  color: white;
}
/* BUTTON FOR GROUPS */
.groups{
  padding-top: 40px;
  padding-right: 10px;
  text-align: right;
}
.button{
  border-radius: 10px;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  box-shadow: 2px 2px 2px 2px rgb(108, 106, 106);
}
.button:hover{
  background-color:lightsalmon;
  color: black;
  transition: all 0.9s ease-in-out;
}
/* Wanted to created smooth transitions 
between tabs but could not figure that out
so created separate pages and so found some JS 
css animation to use */
.animate-in {
  -webkit-animation: fadeIn 45s ease-in;
  animation: fadeIn 45s ease-in;
}

.animate-out {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}