body{
    margin: 0;;
}
header .navbar{
    margin-top: 10px;
    padding: 10px 10px;
}
.background-image{
    background-image: url(../images/schedule.jpeg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.footer{
    height: 10px;
    background-color: lightgray;
}
.footer div{
    margin: auto;
    padding: 0;
}
.footer{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
h1{
    text-align: center;
}
.card{
    display: inline-block;
    width: 50%;
    padding: 5px;
}
#BUTTON{
    padding-top: 10px;
    position: relative;
}
.container{
    text-align: center;
}

.outer figure img{
    width: 100%;
}
.outer h1{
    padding-top:100px ;
}
.outer p{
    padding-top: 10px;
    font-size: x-large;
}
.outer{
    background-color: whitesmoke;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.content{
    padding-top: 30px;
    margin: 30px 30px;
    text-align: center;
}
button a{
    color: white;
}
#time{
    animation-iteration-count:infinite;
    animation-duration:10s;

}